@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.entire {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 80px;
    font-family: poppins;
    text-align: center;
    align-content: center;

}

.entire h3 {
    padding-bottom: 80px;
    font-weight: 700;
    color: black;

}

.steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;


}

.image {
    padding-top: 50px;
}

@media (max-width: 1024px) {


    .steps {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 768px) {


    .steps {
        grid-template-columns: 1fr;

    }

    .entire {
        padding-left: 20px;
        padding-right: 20px;
        /* Reduced padding */
    }
}

@media (max-width: 320px) {


    .entire h3 {
        font-size: 20px;

    }

    .image img {
        max-width: 100%;


    }
}